<html lang="en"><head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Simple Social</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://vk.com/js/api/openapi.js?160"></script>

<style type="text/css">
	.login-form {
		width: 340px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>
</head>
<body onload="init()">
<div id="page1" style="position:absolute ;display:block; width:100%; height:100%; left:0; top:0;">
<div class="login-form">
    <form>
        <h2 class="text-center">Log in</h2>       
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-block" onclick="vk_oauth()">Войти с помощью VK</button>
        </div>
    </form>
</div>
</div>

<div id="page2" class="container-fluid" style="position:absolute ;display:none; width:100%; height:100%; left:0; top:0;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="#">Social</a>
  <div class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" onclick="logout();">Выход</a>
      </li>
    </ul>
  </div>
</nav>

  <div id="app" class="row justify-content-center">
    <div class="list-group col-md-3">
      <h3>{{ user_name }}, ваша пятерка друзей:</h3>
      <a class="list-group-item" v-for="friend in friends">
        {{ friend.first_name }} {{ friend.last_name }}
      </a>
    </div>
  </div>
</div>

<script>

var app = new Vue({
  el: '#app',
  data: {
    user_name: 'User',
    friends: {}
  }
})


  function vk_oauth() {
    VK.Auth.login(function(resp){document.location.reload();}, VK.access.FRIENDS);
/*  client_id = 6945814;
  display = 'page';
  scope = 'friends';
  redirect_url = window.location.href;
  window.location='https://oauth.vk.com/authorize?client_id='+client_id+'&display='+display+'&redirect_uri='+redirect_url+'&scope='+scope+'&response_type=code&v=5.95';
*/

  }

  function vk_logout() {
    VK.Auth.logout(function(response) {return response;});
  }


function vk_auth_check() {
  VK.Auth.getLoginStatus(function(response){
	if(response.session)
	{
          vk_profile_info_get(response.session.mid, function(resp) {
          if(resp.response[0].first_name) {
            app.user_name = resp.response[0].first_name;
          }

          // switch to page with friends list
          var obj = document.getElementById('page1');
          obj.style.display = "none";

          vk_friends_get();
          var obj = document.getElementById('page2');
          obj.style.display = "block";

      });

	}
  });
  
}


function vk_friends_get() {
  VK.Api.call('friends.get', {
        name_class: 'ins',
        count: 5,
        fields: 'city,domain',
	version: 5.8
  }, function(data){
    app.friends = data.response;
  });

}

function vk_profile_info_get(user_id, f) {
    VK.Api.call('users.get', { user_ids:user_id ,version: 5.8}, f);
  }


function logout() {
  VK.Auth.logout(function(resp){document.location.reload();});
}

function init() {
  VK.init({apiId: 6945814});
  vk_auth_check();
}
</script>


</body></html>