<html lang="ru"><head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Simple Social</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


<style type="text/css">
	.login-form {
		width: 340px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>
</head>
<body onload="init()">
<div id="page1" style="position:absolute ;display:block; width:100%; height:100%; left:0; top:0;">
<div class="login-form">
    <form>
        <h2 class="text-center">Log in</h2>       
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-block" onclick="social.oauth(oauth_callback);">Войти с помощью VK</button>
        </div>
    </form>
</div>
</div>

<div id="page2" class="container-fluid" style="position:absolute ;display:none; width:100%; height:100%; left:0; top:0;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="#">Social</a>
  <div class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" onclick="social.logout(); document.location.reload();">Выход</a>
      </li>
    </ul>
  </div>
</nav>

  <div id="app" class="row justify-content-center">
    <div class="list-group col-md-3">
      <h3>{{ user_name }}, ваша пятерка друзей:</h3>
      <a class="list-group-item" v-for="friend in friends">
        {{ friend.first_name }} {{ friend.last_name }}
      </a>
    </div>
  </div>
</div>

<script>
class social_factory {
  static instance_get(type,addon) {
    switch(type) {
      case 'vk':
        return new social_vk(addon);
    }
  }
}


class social_base {
  loadjs_async(src,callback) {
    var loaded_script = document.createElement("script")

    var self = this;
    loaded_script.onload = function(){  callback(self);    };

    loaded_script.type = "text/javascript"
    loaded_script.src = src;
    loaded_script.async = true;
    window.document.head.appendChild(loaded_script)

  }

}

class social_vk extends social_base {
  constructor(addon) {
    super();
    this.init_status=0;
    // implement VK API
    this.appid = addon.appid;
//    console.log(addon.appid);
    this.loadjs_async('https://vk.com/js/api/openapi.js?160',  this.init_callback );
  }

  init_callback(t) {
    VK.init({apiId: t.appid, status: true});
    t.init_status=1;
  }

  friends_get(cnt, f) {
    VK.Api.call('friends.get', {
        name_class: 'ins',
        count: cnt,
        fields: 'city,domain',
	version: 5.8
    }, f);

  }

  oauth(callback) {
    VK.Auth.login(callback, VK.access.FRIENDS);
  }

  profile_info_get(user_id, f) {
    VK.Api.call('users.get', { user_ids:user_id ,version: 5.8}, f);
//    VK.Api.call('account.getProfileInfo', {version: 5.8}, f);
  }

  session_info_get(callback) {
    VK.Auth.getSession(callback)
  }

  logout(callback) {
    VK.Auth.logout(callback);
  }

  auth_check(callback) {
    VK.Auth.getLoginStatus(callback);
  }

  status_get() {
    return this.init_status;
  }
}
</script>

<script>
var social;

var app = new Vue({
  el: '#app',
  data: {
    user_name: 'User',
    friends: {}
  }
})


function auth_check() {
//return;
  social.auth_check( function(resp) {
    if(resp.session)
    {
      social.profile_info_get(resp.session.mid, function(resp) {
        if(resp.response[0].first_name) {
          app.user_name = resp.response[0].first_name;
        }

        // switch to page with friends list
        var obj = document.getElementById('page1');
        obj.style.display = "none";

        social.friends_get(5,function(data){
          app.friends = data.response;
        });

        var obj = document.getElementById('page2');
        obj.style.display = "block";

      });

    }

});

}
  

function social_wait() {
  status = social.status_get();
  if (status == 1) {
    auth_check();
    clearInterval(timer1);
  }
}

function init() {
  social = social_factory.instance_get('vk',{'appid':6948644});
  timer1 = setInterval(social_wait, 150);
}

function oauth_callback(resp) {
  document.location.reload();
}

</script>

</body></html>